src/**
tsconfig.json
**/*.ts
!dist/**
server/vendor/**
server/package-lock.json
server/node_modules/**/*.md
server/node_modules/**/*.markdown
server/node_modules/**/*.map
server/node_modules/**/*.ts
!server/node_modules/**/*.d.ts
server/node_modules/**/test/**
server/node_modules/**/tests/**
server/node_modules/**/__tests__/**
server/node_modules/**/docs/**
server/node_modules/**/doc/**
server/node_modules/**/example/**
server/node_modules/**/examples/**
server/node_modules/openai/src/**
server/node_modules/@types/**
